* {
    margin: 0;
    padding: 0;
}
.Campo {
    height: 15px;
    width: 15px;
    background-color: #cccccc;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marcado {
    background-color: burlywood;
    border-style: inset
    /* campo marcado */
}

.alerta {
    /* campo que ao redor tem bomba */
}

.aberto {
    /* campo aberto */
}

.explodidio{
    /* campo no qual explodiu a bomba */
}

.bomba {
    /* campo aberto com bomba */
}